@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #922bc0;
  color: #2c2c2c;
  padding: 20px;
}
.thank{
  text-align: center;
  background: white;
  border-radius:10px;
  padding: 20px;
  display:;
}
.thank h2{
  color:#922bc0;
  box-shadow: 28px;
  
}
.thank h3{
  color: dimgray;
  padding: 10px;
}
.thank p{
  color: gray;
  
}
.ads{
  padding: 50px;
  color:white;
  border-radius:25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ads a{
  color: white;
  border-radius:9px;
  padding:4px;
  height: 20px;
}
.copyright{
  color: whitesmoke;
  text-align: center;
  font-size:10px;
}